# üêº Pandas
## La Libreria de Manejo de Datos

---
**Autores de la Notebook:** 


* [Matias Sanchez Gavier ](https://matias-online.netlify.app/)  üßõ
*   [Matias Moris](https://www.linkedin.com/in/matias-moris-6041337b/) ‚öΩ
* [Anotonio Marrazzo](https://www.linkedin.com/in/antonio-marrazzo-40b3491a2/) üèÜ

---


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" alt="Drawing" style="width: 350px;"/>



En esta clase vamos a aprender como usar la libreria de pandas para an√°lisis de datos. Podes pensar a Pandas como una versi√≥n extremadamente poderosa de Excel, con un monton m√°s de posibilidades. Los Temas que vamos a ver son los siguientes:

__Crognograma__

* Librerias
* Manejo de Directorio (OS)
* An√°lisis Introductorio
* Selecci√≥n de Filas y Columnas
* Filtering, Selecci√≥n Condicionada
* Reslover NaN Values
* Operaciones con DataFrames
* Concadenar
* Exportar Archivos 
* Gr√°ficos con Pandas
***

Para m√°s informaci√≥n acerca de pandas  te recomendamos que visites estas p√°ginas: 
- [User Guide Pandas]( https://pandas.pydata.org/docs/user_guide/index.html)

- [Tutorial Pandas ](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)

## üìï Introducci√≥n a las Librerias
---
Las librerias son b√°sicamente c√≥digo externo que podemos utilizar. Esto es clave y es una de la razones para usar python. Mientras m√°s famoso un lenguaje mejores librerias uno dispone.  **Pandas es una libreria** que se centra en el manejo de datos, y es lo que vamos a explorar en este notebook . A continuaci√≥n instalamos algunas librerias.

In [ ]:
#Instalar si es necesario 
# Formato: !pip install Nombre_de_libreria
!pip install numpy
!pip install pandas

El s√≠mbolo **!**  permite ejecutar como si estubieras en la terminal.

### ‚òéÔ∏è Importar librerias

---

Hay varias formas de importar, pero en general cada librer√≠a tiene una forma **tradicional o popular** de importarse, en el sentido de que la mayor√≠a de la gente lo hace de la misma forma.

In [17]:
# Importando pandas y numpy
import pandas as pd
import numpy as np

## üìÅ  Lectura de Archivos
---

Vamos a utilizar el archivo pokemon.csv del github. Vamos a utilizar la funci√≥n **read_csv()**, hay dos formas de indicarle que archivo leer:

*   Dar un link al archivo csv
*   Indicar el "path" al archivo en nuestra computadora

Si uno esta usando colab se esta manejando con la compu de google, la nuestra no la registra google.

In [18]:
#Leer con URL 
url = "https://raw.githubusercontent.com/sanchezgaviermatias/Curso_Python-/master/2%20-%20Pandas/Pokemon.csv"
df = pd.read_csv(url)

CSV es un tipo especial de archivo. Otros tipos de archivos comunes son: 
- JSON Files
- HTML Files
- SQL Files

Puede probar **pd.read**  y apretar tab para ver otras opciones (en Colab solo tiene que esperar y le va a aparecer mas opciones).

In [ ]:
# Ejemplos de funciones para leer datos:
#pd.read_csv()
#pd.read_excel()
#pd.read_html()
#pd.read_json()
#pd.read_sql()
#pd.read_sas()
#pd.read_pickle()

### üóÇÔ∏è Manejo de Archivos  (Solo usuarios en Colab)
---

In [ ]:
#Inidica los archivos en el directorio actual
!ls

In [ ]:
# En google colab puede subir archivos con esta funci√≥n
from google.colab import files
uploaded = files.upload()

### üìÄ  Libreria OS (Opcional)
---
Una libreria que le puede interesar para el manejo de Directorios y Paths (Carpetas) es la libreria OS, para mas  infor visite: 
- [Tutorial - OS](https://stackabuse.com/introduction-to-python-os-module/)
- [Youtube - OS ](https://www.youtube.com/watch?v=tJxcKyFMTGo)

Es como usar la **terminal de la computadora**.
Se suele ver cuando se ve notebooks o proyectos de otras personas.

In [2]:
#Principales Usos:
import os 

# Directorio Actual
print(os.getcwd()) 


# Mostrar Archivos en el directorio Actual
print(os.listdir())

# crear carpeta
os.mkdir('carpeta')
print(os.listdir())

#Cambiar Directorio 
os.chdir('carpeta')
print(os.listdir())

os.chdir("../")
print(os.listdir())


# Elimino la Carpeta 
os.rmdir('carpeta')

/content
['.config', 'sample_data']
['.config', 'carpeta', 'sample_data']
[]
['.config', 'carpeta', 'sample_data']

La funci√≥n **walk()** de la libreria os realiza un "search" de arriba hacia abajo de todo el sistema de archivos, partiendo desde el path que le indicas. Devuelve un tuple de tama√±o 3 indicando el path (direcci√≥n), directorios(Carpetas) en ese path, y archivos en ese path, sucesivamente hasta que llega a la √∫tlima carpeta.

In [ ]:
for dirpath, dirnames, filnames in os.walk(os.getcwd()):
  print(f"directorio: {dirpath}")
  print(f"Carpetas: {dirnames}")
  print(f"filnames:{filnames}")
  print()

## üìπ An√°lisis Introductorio
---

In [ ]:
df.head()

In [ ]:
# Devuelve (filas, columnas)
df.shape

In [ ]:
#Lista de Columnas
df.columns

In [ ]:
df.info()

In [ ]:
#Estad√≠sticas 
df.describe()

### üçß Selecci√≥n de Filas y Columnas  
---

####  Selecci√≥n de  Columnas
---

In [19]:
df["HP"]

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [20]:
df.HP

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [21]:
#seleccion de multiples columnas
df[["Attack","Defense"]].head()

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

#### Selecci√≥n de  Filas
---

In [23]:
df.loc[0, :]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [22]:
df.loc[[0,4], "Type 1"]

0    Grass
4     Fire
Name: Type 1, dtype: object

In [24]:
# le indicamos una columna para que sea el √≠ndice
df.set_index("#").head( )

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

El cambio que hicimos **no se guardo!** Esto es muy com√∫n con pandas.

Cuando hacemos cambios que afectan el dataset los cambios no se suelen guardar.

In [26]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Para que los cambios tengan efecto permanente usamos el par√°metro **inplace=True**

In [27]:
df.set_index("Name", inplace=True)

In [28]:
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

**loc** Busca en base al nombre del √≠ndice.

In [29]:
df.loc["Bulbasaur", : ]

#                  1
Type 1         Grass
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: Bulbasaur, dtype: object

In [30]:
df.loc[["Bulbasaur","Ivysaur"], :]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False

In [31]:
df.iloc[0:4, :]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False

**iloc** busca en t√©rminos de la posici√≥n , no le importa el nombre de los valores.

#### üç´  Selecci√≥n Condicionada
---

Simbolos y su S√≠gnificado:
  
* No   **-**
* Y   **&**
* O   **|**
* son iguales?    **==**
* mayor, menor ... **>, <, >=, <=**

In [33]:
df.loc[df["Type 1"] == "Grass",  : ].head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Oddish,43,Grass,Poison,320,45,50,55,75,65,30,1,False

In [34]:
df.loc[(df["Type 1"] == "Grass") & (df["HP"]>=80), : ]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Victreebel,71,Grass,Poison,490,80,105,65,100,70,70,1,False
Exeggutor,103,Grass,Psychic,520,95,95,85,125,65,55,1,False
Meganium,154,Grass,NaN,525,80,82,100,83,100,80,2,False
Shiftry,275,Grass,Dark,480,90,100,60,90,60,80,3,False
Tropius,357,Grass,Flying,460,99,68,83,72,87,51,3,False
Torterra,389,Grass,Ground,525,95,109,105,75,85,56,4,False
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Tangrowth,465,Grass,NaN,535,100,100,125,110,50,50,4,False
ShayminLand Forme,492,Grass,NaN,600,100,100,100,100,100,100,4,True
ShayminSky Forme,492,Grass,Flying,600,100,103,75,120,75,127,4,True
Amoonguss,591,Grass,Poison,464,114,85,70,85,80,30,5,False
Virizion,640,Grass,Fighting,580,91,90,72,90,129,108,5,True
Chesnaught,652,Grass,Fighting,530,88,107,122,74,75,64,6,False
Gogoat,673,Grass,NaN,531,123,100,62,97,81,68,6,False

In [35]:
mask = (df["Type 1"] == "Grass") & -(df["HP"]>=80)

df.loc[mask, :].head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Oddish,43,Grass,Poison,320,45,50,55,75,65,30,1,False
Gloom,44,Grass,Poison,395,60,65,70,85,75,40,1,False
Vileplume,45,Grass,Poison,490,75,80,85,110,90,50,1,False

In [36]:
mask =  (df["Type 1"].isin(["Grass", "Fire"]))
df.loc[ mask, : ]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Litleo,667,Fire,Normal,369,62,50,58,73,54,72,6,False
Pyroar,668,Fire,Normal,507,86,68,72,109,66,106,6,False
Skiddo,672,Grass,NaN,350,66,65,48,62,57,52,6,False
Gogoat,673,Grass,NaN,531,123,100,62,97,81,68,6,False
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

## üë¨ Diferencia entre Series y Data Frames
---

Hay una s√∫til diferencia cuando trabajamos con una **columna (Series)** o multiples (Data Frames).  Como son diferentes objetos, hay cosas que se pueden hacer en uno y en otros no.

In [ ]:
print(type(df["Type 1"])) # Serie

type(df) # Data Frame

<class 'pandas.core.series.Series'>

pandas.core.frame.DataFrame

### ü¶ò Dtype

Cada Serie tiene **su propio tipo de dato**, denominado **Dtype**, estos son en general:

- int64 (n√∫mero entero)
- float (n√∫mero real)
- object (String, texto)
- bool (verdadero o falso)

In [ ]:
# Con info() podemos ver el Dtype de cada Serie
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

### ‚òï Index

In [ ]:
df.index

RangeIndex(start=0, stop=800, step=1)

## üêæ Resolver NaN 
---
Significa Not a Number y en general representa valores desconocidos. 

Es importante que no haya NaN, ya que estos causan problemas.

Hay 3 opciones:
 - Eliminar filas con NaN
 - Eliminar Calumna con NaN
 - Reemplzar NaN con Otros Valores

### üîä Detectar NaN values

In [ ]:
# Primer M√©todo
df.info()

In [ ]:
#Segundo  M√©todo, Recomendado
df.isnull().sum()

In [ ]:
# Ordenamos de mayor a menor
df.isna().sum().sort_values(ascending=False)

Type 2        386
Legendary       0
Generation      0
Speed           0
Sp. Def         0
Sp. Atk         0
Defense         0
Attack          0
HP              0
Total           0
Type 1          0
Name            0
#               0
dtype: int64

### üì¥ Eliminar NaN Values

In [ ]:
#eliminar columna, no recomendado
df.drop("Type 2",axis=1).head()

In [ ]:
#Eliminar Filas, mejor que lo anterior
y = df.dropna()
print(y.shape, df.shape)

In [ ]:
# Reemplzar valores NAn, la posta baby
df.fillna(value=df["Type 2"].mode(), inplace=True)

In [ ]:
# Ordenamos de mayor a menor
df.isna().sum().sort_values(ascending=False)

Los m√©todos m√°s comunes para reemplzar NaN son :

- Variables **Continuas** --> Media, Mediana, Modo


- Variables **Categ√≥ricas** --> Modo, Su propia Categor√≠a  NaN

Tamb√≠en se pueden usar modelos estad√≠sticos para intentar predecir los valores desconocidos.

##  üíÆ  Operaciones 
---
### Operaciones B√°sicas

In [ ]:
df['Attack'].sum()

In [ ]:
df.sort_values(by='Type 1').head( )

In [ ]:
df.mean()

In [ ]:
df.std()

###  üß±   Operaciones entre Columnas

In [37]:
df["Poder"] = df["HP"]*(1/3) + df["Attack"]*(2/3)
df["Poder"] = round(df["Poder"])
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Poder
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,48.0
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,61.0
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,81.0
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,93.0
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,48.0

In [38]:
# valor Z !
df["Z_HP"] =  (df["HP"] - df["HP"].mean()) / df["HP"].std()
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Poder,Z_HP
Name,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,48.0,-0.950032
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,61.0,-0.362595
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,81.0,0.420654
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,93.0,0.420654
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,48.0,-1.185007

### üî¶ Info en valores √∫nicos

In [ ]:
#Valores √∫nicos
df["Type 1"].unique()

In [ ]:
#Cantidad de Valores √∫nicos
df['Type 1'].nunique()

In [41]:
#Frecuencia Absoluta 
df['Type 1'].value_counts()

Water       0.14000
Normal      0.12250
Grass       0.08750
Bug         0.08625
Psychic     0.07125
Fire        0.06500
Electric    0.05500
Rock        0.05500
Dragon      0.04000
Ghost       0.04000
Ground      0.04000
Dark        0.03875
Poison      0.03500
Steel       0.03375
Fighting    0.03375
Ice         0.03000
Fairy       0.02125
Flying      0.00500
Name: Type 1, dtype: float64

###  Columnas  Condicionales 
---

Este paso es muy com√∫n y es muy usado para realizar **feature engineering**, crear nuevas variables a partir de ya existentes.

In [ ]:
df["Generation"].unique()

array([1, 2, 3, 4, 5, 6])

Queremos crear una nueva columna donde indiquemos que tan cool es el pokemon basado en la generaci√≥n.  Entonces usamos esta regla:

- Entre 1 y 3 son  Loosers
- Entre 4 y 5 son casi Cool
- 6 son Instagramers 

para esto vamos a usar la **selecci√≥n condicional** que vimos hace un rato.

In [55]:
df.loc[df['Generation'] <=3 , 'Antiguedad'] = "Viejos"

df.loc[(4<=df['Generation']) & (df['Generation'] <=5) , 'Antiguedad'] = "Mediana Edad"

df.loc[df['Generation']>=6 , 'Antiguedad'] = "Instagramer"

df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Poder,Z_HP,Antiguedad
Name,,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,48.0,-0.950032,Viejos
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,61.0,-0.362595,Viejos
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,81.0,0.420654,Viejos
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,93.0,0.420654,Viejos
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,48.0,-1.185007,Viejos

In [ ]:
print(df["Nivel de Cool"].unique(), "\n")
df["Nivel de Cool"].value_counts()

['Losser' 'Casi Cool' 'Instagramer']

Losser         432
Casi Cool      286
Instagramer     82
Name: Nivel de Cool, dtype: int64

###  üõ†Ô∏è  Funciones aplicadas a las columnas

Vamos a usar el m√©todo **apply()**, el cual toma como input una funci√≥n. La idea es que se va a ejecutar a cada elemento.

In [ ]:
def times2(x):
    return x*2

In [ ]:
df["Attack_x2"] = df['Attack'].apply(times2)
df.head()

In [ ]:
df["Type 1"].apply(len)

In [ ]:
df["Type 1"].apply(str)

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

## üõ°Ô∏è  Group By
----
Agrupar para hacer operaciones o funciones sobre un conjunto de variables categ√≥ricas.

Group By **se aplica a variables categ√≥ricas**

In [ ]:
df["Type 1"].unique()

In [ ]:
#Group By por si solo no hace nada
df_group = df.groupby("Type 1")
df_group

In [ ]:
# Devuelve la media para cada variable 
df_group.mean()

In [ ]:
df_group.mean()["Attack"].sort_values(ascending=False)

In [ ]:
df_group.std()["Attack"]

In [ ]:
df_group.describe()["HP"]

Otras operaciones summary son:
- .min()
- .max()
- .count()
- .idxmax()
- .idxmin()
- .quantile()
- .skew()
- .kurtosis()

### ü§∫ Operaciones Summary
---
Estas son algunas de las funciones que se aplican cuando usamos la **funci√≥n describe()**

In [ ]:
print(df["Attack"].min()) # Minimo
print(df["Attack"].max()) # Maximo
print(df["Attack"].count()) # Cantidad
print(df["Attack"].idxmax()) # El √≠ndice del valor m√°ximo
print(df["Attack"].idxmin()) # El √≠ndice del valor m√≠nimo
print(df["Attack"].quantile([.25,.5,.75])) # Los quantiles
print(df["Attack"].skew()) # Asimetria
print(df["Attack"].kurtosis()) # Kurtosis

5
190
800
163
121
0.25     55.0
0.50     75.0
0.75    100.0
Name: Attack, dtype: float64
0.5516137480269772
0.1697173149230906

## üß∑ Concadenar Dataframes
---

Se puede Armar Dataframes a partir de Diccionarios

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
pd.concat([df1,df2]) # stockean como blockes de lego

In [ ]:
pd.concat([df1,df2], axis=1) #Por Default axis=0, se acumulan a la derecha

## üëæ Funciones Con Pandas! WOW
---
Vamos a ver como crear funciones para automtizar nuestro laburo

In [44]:
def obtener_Z(df, columna):
    # valor Z !
    df2 = pd.DataFrame([])
    df2[f"Z_{columna}"] =  (df[columna] - df[columna].mean()) / df[columna].std()
    return df2

obtener_Z(df, "Attack")

                       Z_Attack
Name
Bulbasaur             -0.924328
Ivysaur               -0.523803
Venusaur               0.092390
VenusaurMega Venusaur  0.646964
Charmander            -0.831899
...                         ...
Diancie                0.646964
DiancieMega Diancie    2.495543
HoopaHoopa Confined    0.955061
HoopaHoopa Unbound     2.495543
Volcanion              0.955061

[800 rows x 1 columns]

In [ ]:
# Sacamos los valores Z para Attack 

Z_attack = obtener_Z(df, "Attack")

pd.concat([df, Z_attack ], axis=1)

##  üíê Intervalos de Clase
---

La idea es transformar las variables continuas en discretas, poniendolas en contenedores.

In [46]:
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Poder,Z_HP
Name,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,48.0,-0.950032
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,61.0,-0.362595
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,81.0,0.420654
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,93.0,0.420654
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,48.0,-1.185007

In [47]:
# Con Cut le indicamos cuanto contenedores queremos
pd.cut(df["Attack"], bins=15)

Name
Bulbasaur                   (42.0, 54.333]
Ivysaur                   (54.333, 66.667]
Venusaur                    (79.0, 91.333]
VenusaurMega Venusaur    (91.333, 103.667]
Charmander                  (42.0, 54.333]
                               ...
Diancie                  (91.333, 103.667]
DiancieMega Diancie       (153.0, 165.333]
HoopaHoopa Confined       (103.667, 116.0]
HoopaHoopa Unbound        (153.0, 165.333]
Volcanion                 (103.667, 116.0]
Name: Attack, Length: 800, dtype: category
Categories (15, interval[float64]): [(4.815, 17.333] < (17.333, 29.667] < (29.667, 42.0] < (42.0, 54.333] ... (140.667, 153.0] < (153.0, 165.333] < (165.333, 177.667] < (177.667, 190.0]]

In [ ]:
# qcut se Basa en quantiles 
df["Ataque_IC"] = pd.qcut(df["Attack"],[0,0.25,0.5,0.75,1])
df["Ataque_IC"]

## ü§™  Dummy Variables
---
Es la forma de Transformar variables en discretas en valores num√©ricos.


La variable toma 1 si se cumple la condici√≥n y 0 en caso que no.

In [48]:
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Poder,Z_HP
Name,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,48.0,-0.950032
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,61.0,-0.362595
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,81.0,0.420654
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,93.0,0.420654
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,48.0,-1.185007

In [ ]:
pd.get_dummies(data = df, columns=["Legendary"], prefix="Leg_Dummy", drop_first=True )

In [ ]:
pd.get_dummies(data = df, columns=["Ataque_IC"], drop_first=True )

In [49]:
pd.get_dummies(data = df, columns=["Type 1"], drop_first=True)

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,...,Type 1_Ghost,Type 1_Grass,Type 1_Ground,Type 1_Ice,Type 1_Normal,Type 1_Poison,Type 1_Psychic,Type 1_Rock,Type 1_Steel,Type 1_Water
Name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,...,0,1,0,0,0,0,0,0,0,0
Ivysaur,2,Poison,405,60,62,63,80,80,60,1,...,0,1,0,0,0,0,0,0,0,0
Venusaur,3,Poison,525,80,82,83,100,100,80,1,...,0,1,0,0,0,0,0,0,0,0
VenusaurMega Venusaur,3,Poison,625,80,100,123,122,120,80,1,...,0,1,0,0,0,0,0,0,0,0
Charmander,4,NaN,309,39,52,43,60,50,65,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Fairy,600,50,100,150,100,150,50,6,...,0,0,0,0,0,0,0,1,0,0
DiancieMega Diancie,719,Fairy,700,50,160,110,160,110,110,6,...,0,0,0,0,0,0,0,1,0,0
HoopaHoopa Confined,720,Ghost,600,80,110,60,150,130,70,6,...,0,0,0,0,0,0,1,0,0,0
HoopaHoopa Unbound,720,Dark,680,80,160,60,170,130,80,6,...,0,0,0,0,0,0,1,0,0,0
Volcanion,721,Water,600,80,110,120,130,90,70,6,...,0,0,0,0,0,0,0,0,0,0

## üíå Funciones relacionadas al Texto
---
En general vamos a usar **.str** para indicar que vamos a usar una funci√≥n relacionada a las strings.

In [ ]:
df.reset_index() #Volver al √≠ndice Orinigal

In [ ]:
df["Type 2"].str.lower()

0      poison
1      poison
2      poison
3      poison
4         NaN
        ...
795     fairy
796     fairy
797     ghost
798      dark
799     water
Name: Type 2, Length: 800, dtype: object

In [ ]:
mask = df["Name"].str.contains("saur")
df.loc[mask, :]

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 13 columns]

##  üë©‚Äçüè´ Cambiar los nombres de Columna 
---
Vamos a usar la funci√≥n **rename()**.

In [ ]:
df.rename(columns = {'Type 1':'Tipo 1', "Type 2": "Tipo 2"}, inplace=True)
df.head()

In [ ]:
df.columns

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

       #                   name   type 1  ... speed  generation  legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [ ]:
df.columns.values[1] ="nombre"
df.head()

   #                 nombre type 1  ... speed  generation  legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

## üëÄ Exportando Archivos
---

In [ ]:
#Exportando a CSV
df1.to_csv('Ejemplo.csv',index=False)
#Exportando a Excel
df1.to_excel("excel_df.xlsx", index=False)

In [ ]:
pd.read_csv("Ejemplo.csv")

# Felicitaciones por completar esta parte!